body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2594fc);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.password-checker {
    max-width: 500px;
    min-width: 280px;
    width: max-content;
    color: #333;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    background: #fff;
    backdrop-filter: blur(56px);
    animation: fadeInPage 0.8s ease-in-out;
}

.password-checker h1 {
    font-size: 30px;
    color: #6a11cb;
    margin-bottom: 20px;
    font-weight: 600;
}

.password-input {
    width: 300px;
    padding: 15px;
    margin: 20px 0;
    border-radius: 30px;
    font-size: 18px;
    transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    outline: none;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding-right: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.password-input:focus {
    border-color: #6a11cb;
    box-shadow: 0px 0px 8px rgba(106, 17, 203, 0.8);
    transform: scale(1.02);
}

.strength-indicator {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #6a11cb;
}

.strength-indicator strong {
    font-weight: 700;
    transition: color 0.3s ease, transform 0.3s ease;
}

.strength-indicator strong:hover {
    transform: scale(1.1);
}

.criteria {
    margin: 20px 0;
}

.criteria p {
    font-size: 16px;
    font-weight: 500;
    color: #6a11cb;
}

.criteria ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.criteria li {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 30px;
    margin-bottom: 8px;
    padding: 8px 12px;
    width: 200px;
}

.criteria li.met {
    color: #16a800;
    background: #9fffb5;
    border-color: #00ff00;
    animation: fadeIn 0.5s ease-in-out;
}

.time-to-crack {
    margin: 20px 0;
    font-size: 16px;
    color: #6a11cb;
    animation: fadeInText 0.5s ease-in-out;
}

.common-passwords {
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    text-align: left;
}

button {
    padding: 10px 20px;
    border: none;
    background: #6a11cb;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: #6a11cb;
    transform: scale(1.05);
}
button:active {
    background: #905ec6;
    transform: scale(.9);
}

.show-password {
    align-items: center;
    margin-top: 10px;
}

.show-password label {
    font-size: 14px;
    color: #6a11cb;
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    position: relative;
}

.toggle-visibility {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.7em;
    user-select: none;
    color: #555;
    transform: translateY(-50%);
    top: 50%;
    transition: transform 0.3s ease, color 0.3s ease;
}

.toggle-visibility:hover {
    color: #6a11cb;
    transform: translateY(-50%) rotate(20deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 490px) {
    .password-checker {
        width: 65%;
        justify-self: center;
    }
}